* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background: #fff;
	color: #222;
}

a {
	text-decoration: none;
	color: #e22027;
	transition: all 0.3s;
}

code {
	background: #eee;
	padding: 2px 5px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2rem;
}

header h1 {
	font-size: 25px;
	line-height: 30px;
}

header ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
}

main {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	min-height: calc(100vh - 71px - 61px - 4rem);
}

img {
	max-width: 100%;
	height: auto;
}

#content {
	width: 70%;
	margin-right: 2rem;
}

#content > * ~ * {
	margin-top: 1rem;
}

#content p {
	line-height: 170%;
}

pre {
	background: #eee;
	line-height: 25px;
	padding: 10px;
}

.button {
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	color: #aaa;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 1em auto;
	width: 100px;
	padding: 5px 20px;
	border-radius: 5px;
	box-shadow: inset -5px -5px 50px rgba(0,0,0,0.1);
}

.button:hover {
	background: #f4f4f4;
}

aside {
	width: 250px;
	padding-left: 2rem;
	border-left: 1px solid #ddd;
}

aside li {
	list-style-position: inside;
}

footer {
	border-top: 1px solid #ddd;
	background: #eee;
	line-height: 20px;
	color: #555;
	text-align: center;
	padding: 20px;
	font-size: 12px;
	margin-top: 2rem;
}